[submodule "catkin_purt"]
	path = catkin_purt
	url = git@github.com:jgoppert/catkin_purt.git
[submodule "avoidance"]
	path = avoidance
	url = git@github.com:jgoppert/PX4-Avoidance.git
[submodule "rtabmap_ros"]
	path = rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
[submodule "rtabmap"]
	path = rtabmap
	url = https://github.com/introlab/rtabmap.git
